<br><br>
<h1>Full Stack App With Node/Angular/Postgres</h1>
<br><br><br> 
<div class="row">  

                    
<div class="col-lg-4" id="first">     
 <button type="button" class="btn btn-primary"><a routerLink="/monsters"> Monsters</a></button>
</div>  

<div class="col-lg-4" id="second">
<button type="button" class="btn btn-warning"><a routerLink="/habitats">Habitats</a></button>
</div>

<div class="col-lg-4" id="third">
 <button type="button" class="btn btn-danger"><a routerLink="/lives">Lives</a></button>
</div>
</div>


