    <button type="button" class="btn btn-primary"><a routerLink="/home">BACK</a></button>
      <br><br>
    <div class="jumbotron">
      <h1>List of Monsters with Personalities</h1>
    </div>
      <p>create a Monster</p>
      <button type="button" class="btn btn-primary" (click)="toggle()" id="btToggle"  >Create</button>
     <br> <br><br>
     <div *ngIf="show_dialog">
     <form #loginForm="ngForm">
        <div [hidden]="loginForm.submitted">
          <div class="row" >
            <div class="col-lg-4">
            </div>
            <!-- USERNAME and PASSWORD Section-->
            <div class="col-lg-4" id="submitform">
              <br><br>
              <app-input-box #monstername [label]="'Monstername:'" [id]="'monstername'" [type]="'text'" (ivaluechange)='valuechange($event)' 
              [ivalue]='monsterdata.monstername'></app-input-box><br/>
              <app-input-box #personality [label]="'Personality:'" [id]="'personality'" [type]="'text'" (ivaluechange)='valuechange($event)' 
              [ivalue]='monsterdata.personality'></app-input-box>
              <div *ngIf="isError" class="panel panel-default">
                <div class="panel-heading">Incorrect user ID or password. Type the correct user ID and password, and try again.</div>
              </div><br/>
              <button type="button" class="btn btn-danger"  (click)="postMonster(monsterdata)">Submit</button>
              <br><br>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </form>
      </div>
    <ul class="monsters">
      <li *ngFor="let monster of monsters">
        <div class="row">
          <div class="col-lg-1" id="id">
           <span id="monsterid">{{monster.id}}</span>
          </div>
        <div class="col-lg-3" id="monster">
           <span id="monstername">
           Name : {{monster.name}}
        </span>
  </div>
  <div class="col-lg-3">
      <span id="monstername" id="personality">
          Personality : {{monster.personality}}
   </span>
  
 </div> 
 <div class="col-lg-3">
    <app-editpopup [tableContent]="dataSource" (tableContentStatusChange)="tableContentStatusChange($event)"
    [isEditsec]='false'></app-editpopup> &nbsp;
 <button type="button" class="btn btn-danger" click="deleteMonsters()">Delete</button>&nbsp;
 
</div>
</div>
  </li>
</ul>
 
