<button type="button" class="btn btn-primary"><a routerLink="/home">BACK</a></button>
        <br><br>
        <div class="jumbotron">
        <h1>List of Monsters with Personalities</h1>
      </div>
        create a Monster
        <button type="button" class="btn btn-primary" click="putMonsters()">Create</button>&nbsp;
<ul class="monsters">
  <li *ngFor="let monster of monsters">
    <div class="row">
      <div class="col-lg-1" id="id">
    <span id="monsterid">{{monster.id}}</span>
  </div>
     <div class="col-lg-3" id="monster">
       <span id="monstername">
      Name : {{monster.name}}
    </span>
  </div>
  <div class="col-lg-3">
      <span id="monstername" id="personality">
          Personality : {{monster.personality}}
   </span>
  
 </div> 
 <div class="col-lg-3">
 <button type="button" class="btn btn-success" click="putMonsters()">Edit</button>&nbsp;
 <button type="button" class="btn btn-danger" click="deleteMonsters">Delete</button>&nbsp;
 
</div>
</div>
  </li>
</ul>
 
