/* HeroesComponent's private CSS styles */

  #monster, #personality {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 10em;
    height: 200px;
    width: 200px;
  }
  ul{
    list-style-type:none
  }
  .monsters li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 70px;
    border-radius: 4px;
  }
  a{
    text-decoration: none;
    color: white;
}
#column{
  border:2px solid black;
  border-radius: 5px;
}
body{
  background-image: url("/assets/monster.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}