<button type="button" class="btn btn-primary"><a routerLink="/home">BACK</a></button>
        <br><br>

        <div class="jumbotron"><h1>List of Habitats</h1></div>
          <ul class="habitats">
           <li *ngFor="let habitate of habitats">
              <div class="row">
                <br><br>
              <div class="col-lg-1" id="id">
           <span id="habitateid">{{habitate.id}}</span>
          </div>
          <div class="col-lg-3" id="habitate">
            <span id="habitatename">
              Name : {{habitate.name}}
            </span>
          </div>
          <div class="col-lg-3">
              <span id="habitateclimate" id="climate">
                  Climate : {{habitate.climate}}
           </span>
          </div> 
          <div class="col-lg-3">
              <span id="habitatetemperature" id="temperature">
                  Temperature : {{habitate.temperature}}
           </span>
          </div> 
        </div>
      </li>
    </ul>